@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	background: rgb(84,5,97);
	background: radial-gradient(circle, rgba(84,5,97,1) 0%, rgba(133,60,147,1) 37%);
	font-family: 'Open Sans', sans-serif;
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-areas:
		"header"
		"main";
}

header {
	grid-area: header;
}

main {
	grid-area: main;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: slategray;
	font-size: 2vw;
}

#navbar > li {
	float: left;
}

#navbar > li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar > li a:hover {
	background-color: darkslategray;
}

input[type=text], input[type=email], textarea {
	width: 100%;
	padding: 15px;
	border: 0px;
	border-radius: 6px;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 15px;
	resize: vertical;
}

input[type=submit] {
	background-color: #ffed00;
	color: black;
	padding: 15px 15px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

	input[type=submit]:hover {
		background-color: #dae18d;
	}

form {
	background-color: #cccccc;
	border-radius: 6px;
	padding: 20px;
}