@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-areas:
		"header header"
		"main image"
		"footer footer";
	font-family: 'Open Sans', sans-serif;
	margin: 30px 10px 0px 10px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,120,121,1) 52%, rgba(0,212,255,1) 100%);
}


header {
	grid-area: header;
	font-size: 2vw;
	width: 100%;
	position: fixed;
}

#title {
	grid-area: main;
	align-self: center;
}

	#title > h1 {
		margin: 0px;
		padding-left: 20px;
		font-size: 3vw;
	}

#image {
	grid-area: image;
}

#image > img {
	width: 45vw;
	max-width: 100%;
	height: auto;
	border-radius: 12px;
}

footer {
	grid-area: footer;
	color: lightblue;
}

footer > nav > a {
	text-decoration: none;
	color: lightblue;
}

footer > nav > a:hover {
	text-decoration: underline;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: slategray;
}

#navbar > li {
	float: left;
}

#navbar > li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar > li a:hover {
	background-color: darkslategray;
}