body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-areas:
		"header"
		"main";
}

header {
	grid-area: header;
}

main {
	grid-area: main;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: slategray;
	font-size: 2vw;
}

#navbar > li {
	float: left;
}

	#navbar > li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

		#navbar > li a:hover {
			background-color: darkslategray;
		}

#proj1-img {
	width: 100px;
	height: 100px;
	transition: width 2s, height 4s;
}

#proj1-img:hover {
	width: 300px;
	height: 300px;
}

#proj1 {
	background-color: #dee0df;
	border-radius: 6px;
	padding: 5px;
}

#proj1 > h2 {
	text-decoration: underline;
}

#proj1 > pre {
	max-width: 50em;
}