body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,120,121,1) 28%, rgba(0,212,255,1) 100%);
}

header {
}

main {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

main > h1 {
	margin-bottom: 0px;
}

nav {
	color: lightpink;
}
nav > a {
	color: lightpink;
	text-decoration: none;
}
nav > a:hover {
	text-decoration: underline;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: slategray;
	font-size: 2vw;
}

#navbar > li {
	float: left;
}

#navbar > li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar > li a:hover {
	background-color: darkslategray;
}

.project {
	background-color: #dee0df;
	border-radius: 6px;
	padding: 5px;
}

#proj1-img {
	width: 100px;
	height: 100px;
	transition: width 2s, height 4s;
}

#proj1-img:hover {
	width: 300px;
	height: 300px;
}

#proj1 > h2 {
	text-decoration: underline;
}

#proj1 > p {
	max-width: 50em;
	white-space: normal;
}