body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,120,121,1) 28%, rgba(0,212,255,1) 100%);
}

main {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

main > h1 {
	margin-bottom: 0px;
	color: white;
}

nav {
	color: lightpink;
}
nav > a {
	color: lightpink;
	text-decoration: none;
}
nav > a:hover {
	text-decoration: underline;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: slategray;
	font-size: 2vw;
}

#navbar > li {
	float: left;
}

	#navbar > li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	}

		#navbar > li a:hover {
			box-shadow: inset 0 5em darkslategray;
		}

.project {
	background-color: #dee0df;
	border-radius: 6px;
	padding: 5px;
}

#proj1-img > img {
	width: 50%;
	height: 50%;
}

#proj1 > h2 {
	text-decoration: underline;
}

#proj1 > p {
	max-width: 50em;
	white-space: normal;
}

aside > p {
	margin-top: 0px;
	font-size: 0.9em;
}