body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,120,121,1) 28%, rgba(0,212,255,1) 100%);
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: slategray;
	font-size: 2vw;
}

#navbar > li {
	float: left;
}

#navbar > li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar > li a:hover {
	background-color: darkslategray;
}

main {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

main > h1 {
	color: white;
}

.resume {
	background-color: #dee0df;
	border-radius: 6px;
	padding: 5px;
}